<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CV Using HTML & CSS</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div id="page">
      <div class="photo-and-name">
        <img src="./images/profile.png" class="photo" alt="Profile Picture" />
        <div class="contact-info-box">
          <h1 class="name"><%= user.name %></h1>
          <br />
          <h3 class="job-title"><%= user.job %></h3>
          <p class="contact-details">
            Phone: <%= user.phone %>&nbsp; - &nbsp; Email: <%= user.email %>
          </p>
        </div>
      </div>
      <div id="objective">
        <h3>Objective</h3>
        <p>
          To take a challenging and managerial role in the field of Computer
          programming and implement the expertise and experience gained in this
          field to develop complex project with efficiency and quality.
        </p>
      </div>
      <div id="work">
        <h3>Education</h3>
        <table>
          <% edu.forEach(function(edu) { %>
          <tr class="work-1">
            <td><%= edu.start %> - <%=edu.end %></td>
            <td><b><%= edu.school %></b>: <%edu.school %> (<%= edu.des %>)</td>
          </tr>
          <%}); %>
        </table>
      </div>
      <div id="work">
        <h3>Experience</h3>
        <table>
          <% exps.forEach(exp => { %>
          <tr class="work-1">
            <td><%= exp.start %> - <%= exp.end %></td>
            <td><b><%= exp.company %></b>: <%= exp.des %></td>
          </tr>
          <% }) %>
        </table>
      </div>
      <div id="bio-data">
        <h3>SKILL</h3>
        <table>
          <tr>
            <td>F'Name:</td>
            <td><b>Naseem Akhter</b></td>
          </tr>
          <tr>
            <td>Date of Birth:</td>
            <td>
              <b>25<sup>th</sup> November 1996</b>
            </td>
          </tr>
          <tr>
            <td>CNIC:</td>
            <td><b>42401-XXXXXXX-7</b></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
